/* Root Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #181818;
    color: white;
    padding: 0.1rem;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.5;
}

/* Nav starts Here */
header h1{
    margin: 20px 20px 0px 20px;
}

header h3{
    margin-left: 40px;
    
}

/* Main Starts Here */

img {
   border-radius: 50%;
   width: 150px;
   margin: 20px;
}

nav {

}
/* Footer starts Here */